<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- CryptoJS -->
    <!-- <script type="text/javascript" src="/javascripts/crypto-js.js"></script> -->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-1">
          <h2>Download</h2>
          <div class="form-group">
            <label for="id">id:</label>
            <input type="id" class="form-control" id="id" onchange="load(this)" placeholder="Enter id" name="id">
          </div>
          <div class="form-group">
            <label for="text">Text:</label>
            <textarea class="form-control" id="text" placeholder="Enter text" name="text"></textarea>
          </div>
          <div class="form-group">
            <label for="attachments">Attachments:</label>
            <div class="list-group" id="list-attachments">
              <!-- <a href="#" class="list-group-item">First item</a> -->
            </div>
          </div>
          <button class="btn btn-default" onclick="downloadAll()">Download All</button>
        </div>
      </div>
    </div>
    
    <script>
      function downloadAll() {
        console.log(1)
      }
      function load(input) {
        console.log(input.value);
        $.ajax({
          url: `/record/${input.value}`,
          type: 'GET',
          success: function (res) {
            console.log(res)
            if (res.status == 'success') {
              $('#text').val(res.text)
              if (res.attachments instanceof Array) {
                for(var i = 0; i < res.attachments.length; i++) {
                  var a = document.createElement('a');
                  a.href = '#';
                  a.setAttribute('class', 'list-group-item');
                  a.innerHTML = res.attachments[i].originalname;
                  document.getElementById('list-attachments').appendChild(a)
                }
              }
            } else {
              return alert('Có lỗi xảy ra')
            }
          },
          error: function (err) {
            console.log(err);
            try {
              var err = JSON.parse(err.responseText);
              alert(err.error)
            } catch (e) {
              alert('Có lỗi xảy ra.')
              console.log(e);
            }
          }
        })
      }
    </script>
  </body>
</html>
