<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108811618-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108811618-1');
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style>
      .nav-tabs > li, .nav-pills > li {
        float:none;
        display:inline-block;
        *display:inline; /* ie7 fix */
         zoom:1; /* hasLayout ie7 trigger */
      }

      .nav-tabs, .nav-pills {
        text-align:center;
      }

      .active {
        background-color: #F3F6F9;
      }

      .tabs > li.active > a, .tabs > li.active > a:hover, .tabs > li.active > a:focus {
        background-color: #F3F6F9;
      }

      .list-group-item {
        text-decoration: underline !important;
        color: #00F !important;
      }
    </style>

    <!-- CryptoJS -->
    <!-- <script type="text/javascript" src="/javascripts/crypto-js.js"></script> -->
  </head>
  <body style="padding-top: 50px; padding-left: 5px; padding-right: 5px" onload="init();">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-lg-offset-3 col-md-offset-2 col-sm-offset-1" style="text-align: center; margin-bottom: 20px">
          <img src="/tesa.png" class="img img-responsive" style="margin: auto auto">
        </div>
      </div>
      <div class="row">
        <ul style="text-align: center;" class="nav nav-tabs tabs col-lg-6 col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
          <li class="active"><a data-toggle="tab" href="#sender">Sender</a></li>
          <!-- <li><a data-toggle="tab" class="btn btn-primary" href="#menu1">Sender</a></li> -->
          <li><a data-toggle="tab" href="#receiver">Receiver</a></li>
          <!-- <li><a data-toggle="tab" href="#menu3">Menu 3</a></li> -->
        </ul>
      </div>

      <div class="row">
        <div class="tab-content">
          <div id="sender" class="tab-pane fade in active ">
            <div class="row">
              <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-lg-offset-3 col-md-offset-2 col-sm-offset-1" style="text-align: center">
                <h3>Sender</h3>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-lg-offset-3 col-md-offset-2 col-sm-1" style="text-align: center">
                <a href="/upload" class="btn btn-primary">Sender</a>
                <a href="/download" class="btn btn-default">Receiver</a>
              </div>
            </div> -->
            <div class="row">
              <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-lg-offset-3 col-md-offset-2 col-sm-offset-1" >
                <form action="/upload" method="post" enctype="multipart/form-data" onsubmit="return false" id="form-upload">
                  <div class="form-group">
                    <label for="cid">Connection code:</label>
                    <div class="input-group">
                      <input type="cid" class="form-control" id="cid" name="cid" readonly="readonly">
                      <input type="hidden" class="form-control" id="token-upload" readonly="readonly">
                      <div class="input-group-btn">
                        <button class="btn btn-default" onclick="refreshCidHandler()">
                          <!-- <i class="glyphicon glyphicon-refresh"></i> -->
                          <span>Create new code</span>
                        </button>
                        <button class="btn btn-warning" id="remaining-time-upload" style="display: none"></button>
                      </div>
                    </div>
                    
                  </div>
                  <div class="form-group">
                    <label class="radio-inline">
                      <input type="radio" id="radio-type-text" name="data-type" value="text" onclick="selectType(this)">Text
                    </label>
                    <label class="radio-inline">
                      <input type="radio" id="radio-type-file" name="data-type" value="file" onclick="selectType(this)">File
                    </label>
                  </div>
                  <div class="form-group" id="wrap-text">
                    <label for="text">Text:</label>
                    <textarea class="form-control" id="upload-text" placeholder="Enter text" name="text"></textarea>
                  </div>
                  <div class="form-group" id="wrap-file" style="display: none">
                    <label for="file">file:</label>
                    <input type="file" disabled="disabled" class="form-control" id="file" placeholder="Enter file" name="file" multiple="multiple">
                  </div>
                </form>
              </div>
              <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-lg-offset-3 col-md-offset-2 col-sm-offset-1" style="display: none">
                <textarea name="" id="debug" style="width: 100%" rows="10"></textarea>
              </div>
              <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
                <button class="btn btn-success" onclick="submitForm()">Submit</button>
              </div>
            </div>
            <div class="row" style="margin-top: 20px">
              <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-lg-offset-3 col-md-offset-2 col-sm-offset-1" style="text-align: center;">
                <div id="circle-progress-upload" style="display: "></div>
              </div>
            </div>
          </div>
          <div id="receiver" class="tab-pane fade">
            <div class="row">
              <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-lg-offset-3 col-md-offset-2 col-sm-offset-1" style="text-align: center">
                <h3>Receiver</h3>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-lg-offset-3 col-md-offset-2 col-sm-1" style="text-align: center">
                <a href="/upload" class="btn btn-default">Sender</a>
                <button class="btn btn-primary" onclick="connectHandler(this)">Receiver</button>
              </div>
            </div> -->
            <div class="row">
              <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
                <div class="form-group">
                    <label for="c">Connection code:</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="c" placeholder="Enter Connection code and press Connect" name="c">
                      <div class="input-group-btn">
                        <button class="btn btn-default" id="btn-connect" onclick="connectHandler(document.getElementById('c'))">
                          <!-- <i class="glyphicon glyphicon-ok" id="glyphicon-ok"></i> -->
                          <span>Connect</span>
                        </button>
                        <button class="btn btn-warning" id="remaining-time-download" style="display: none"></button>
                      </div>
                    </div>
                    <span id="err-msg" style="display: hidden" class="text-danger"></span>
                  </div>
                <div class="form-group" style="display: none">
                  <label for="id">id:</label>
                  <input type="text" class="form-control" id="id" onchange="loadHandler(this)" placeholder="Enter id" name="id">
                </div>
                <div class="form-group">
                  <label for="text">Text:</label>
                  <textarea class="form-control" id="download-text" placeholder="Enter text" name="text"></textarea>
                </div>
                <div class="form-group">
                  <label for="attachments">Attachments:</label>
                  <div class="list-group" id="list-attachments">
                    <!-- <a href="#" class="list-group-item">First item</a> -->
                  </div>
                </div>
                <!-- <button class="btn btn-default" onclick="downloadAll()">Download All</button> -->
              </div>
            </div>
            <div class="row" style="margin-top: 20px">
              <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-lg-offset-3 col-md-offset-2 col-sm-offset-1" style="text-align: center;">
                <div id="circle-progress-download" style="display: "></div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/auto-resize-textarea.js"></script>
    <script src="/javascripts/cookie.js"></script>
    <script src="/javascripts/circle-progress/circle-progress.min.js"></script>
    <script src="/javascripts/upload.js"></script>
    <script src="/javascripts/FileSaver.js"></script>
    <script src="/javascripts/download.js"></script>
  </body>
</html>
